/**
 * * Docs global styles
 * 
 * Make sure this is imported in your base global.css file like so:
 * @import "@/docs/styles/docs-global.css";
 *
 * This infer color tokens from the base tailwind-theme.css file, which allows
 * you to match color theming from a base site (if adding this to an existing theme by Cosmic Themes)
 */

@layer base {
  #documentation-layout {
    --background: #f5f5f5;
    --foreground: #111111;
    --card: #ffffff;
    --card-foreground: var(--foreground);
    --popover: var(--card);
    --popover-foreground: var(--foreground);
    --primary: #ff6600;
    --primary-dark: #ff6600;
    --primary-foreground: #000000;
    --secondary: var(--foreground);
    --secondary-foreground: var(--background);
    --muted: #e0e0e0;
    --muted-foreground: #4b4b4b;
    --accent: #006666;
    --accent-foreground: #ffffff;
    --info: #006666;
    --info-foreground: #ffffff;
    --success: #006600;
    --success-foreground: #ffffff;
    --warning: #ff6600;
    --warning-foreground: #000000;
    --error: #ff6600;
    --error-foreground: #000000;
    --border: rgba(0, 0, 0, 0.16);
    --input: var(--border);
    --outline: var(--accent);
    --radius: 0px;
    --default-transition-duration: 0ms;
    --nav-height: 4rem;
    --main-content-pt: 2.5rem;
    --expressive-code-bg: #111111;
    --expressive-code-bg-darker: #0a0a0a;
    font-family: var(--font-sans);
  }

  #documentation-layout.dark {
    --background: #000000;
    --foreground: #e0e0e0;
    --card: #0a0a0a;
    --popover: #111111;
    --muted: #111111;
    --muted-foreground: #a3a3a3;
    --accent: #00ffff;
    --accent-foreground: #000000;
    --info: #00ffff;
    --info-foreground: #000000;
    --success: #00ff00;
    --success-foreground: #000000;
    --border: rgba(255, 255, 255, 0.1);
    @apply scheme-dark;
  }

  /* Shared preflight */
  * {
    @apply border-border;
  }
  *:focus-visible {
    @apply outline-outline !transition-none;
  }
  html {
    @apply bg-background text-foreground leading-[1.7rem] scheme-light dark:scheme-dark;
    scroll-behavior: smooth;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    /* prevent layout shift */
    scrollbar-gutter: stable;
  }
  button {
    @apply cursor-pointer;
  }
  .expressive-code .copy button {
    border-radius: 0 !important;
  }
}

@layer components {
  .docs-h1 {
    @apply font-heading text-3xl font-medium tracking-wide md:text-4xl;
  }

  .docs-h2 {
    @apply font-heading text-2xl font-medium tracking-wide md:text-3xl;
  }

  .docs-h3 {
    @apply font-heading text-xl font-medium tracking-wide md:text-2xl;
  }

  /* styles for top navbar elements like links, theme toggle, language switcher, etc. */
  .docs-nav__link--base {
    /* @apply text-muted-foreground hover:text-foreground transition-colors; */
    @apply text-foreground hover:text-muted-foreground transition-colors;
  }

  /* styles for the current top navbar element */
  .docs-nav__link--current {
    @apply text-muted-foreground;
  }

  /* styles for sidebar and heading links */
  .docs-nav__link--sidebar {
    @apply text-muted-foreground hover:border-muted-foreground hover:text-foreground border-l border-transparent transition-colors;
  }

  /* styles for current sidebar and heading links */
  .docs-nav__link--sidebar-current {
    @apply text-foreground border-accent hover:border-accent;
  }

  .docs-site-container {
    @apply mx-auto max-w-5xl px-4;
  }

  .docs-home-container {
    @apply mx-auto max-w-[90rem] px-4;
  }
}

@layer utilities {
  /* focus utility class (for when user is tabbing through items on page) */
  .docs-primary-focus {
    @apply focus-visible:outline-outline focus-visible:rounded-xs focus-visible:outline-2 focus-visible:outline-offset-[-2px] focus-visible:transition-none;
  }

  /* Used for some headings */
  .docs-text-gradient {
    @apply text-foreground;
    /* @apply from-foreground to-foreground/90 dark:to-foreground/60 bg-gradient-to-r bg-clip-text text-transparent; */
  }

  .rotate-180 {
    @apply rotate-180;
  }

  /* transition-colors but without outline-color transition property */
  .docs-transition-colors {
    transition-property:
      color, background-color, border-color, text-decoration-color, fill, stroke,
      --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
    transition-timing-function: var(--default-transition-timing-function);
    transition-duration: var(--default-transition-duration);
  }
}
